body{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.hero{
    color: white;
    background-color: #1f2937;
    display: flex;
    gap: 15px;
    padding: 0px 100px 100px 100px;
    flex-wrap: wrap;

}

.imageplace{
    background-color: grey;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;

}

.nearimage{
    flex: 1;
    align-items: center;
    justify-content: center;
}

.nearimage h1{
    font-size: 48px;
}

.nearimage p{
    font-size: 18px;
}


.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    height: 50px;
    padding: 0px 100px 100px 100px;
}

.rando{
    display: flex;
    flex-direction: column;
    padding: 50px 100px 100px 100px;
    align-items: center;
    

}



.footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 10px;padding: 5px;
    align-items: center;
    padding-right: 10px;
}

button{
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 8px 15px;
    border: 0;

}

img{
    max-width: 100%;
    height: auto;
    
}

.boxes{
    display: flex;
    gap: 25px;
    justify-content: center;
    overflow: hidden;
}

.puggy{
    border:#1f2937;
    border-width: 3px;
    aspect-ratio: 3/4;
    width: 200px;
    border-style: solid;
}

.puggy img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

a{
    text-decoration: none;
    color: white;
}

.inspo{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px 100px 100px 100px;

}

.review{
    font-size: 36px;
    font-weight: 300;

}

.source{
    font-size: 20px;
    font-weight: bold;
    align-items:center;
    padding: 10px;
    margin-left: auto;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CTA{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 100px 100px 100px;
}

.CTAcard{
    background-color: #3882F6;
    display: flex;
    padding: 15px 90px;
    color: white;
    gap: 50px;
    border-radius: 15px;
    align-items: center;
}

.CTA button{
    border: 2px solid white;
    border-radius: 8px;

}

.left{
    margin: 0;
    gap: 10px;
}

