body{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.hero{
    color: white;
    background-color: #1f2937;
    display: flex;
    gap: 15px;
    padding: 0px 100px 100px 100px;
    flex-wrap: wrap;

}

.imageplace{
    background-color: grey;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;

}

.nearimage{
    flex: 1;
    align-items: center;
    justify-content: center;
}


.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    height: 50px;
    padding: 0px 100px 100px 100px;
}

.rando{
    display: flex;
    flex-direction: column;
    padding: 50px 100px 100px 100px;
    align-items: center;
    

}



.footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 10px;padding: 5px;
    align-items: center;
    padding-right: 10px;
}

button{
    color: white;
    background-color: #3882F6;
    border-radius: 50px;
    border: 0;
    padding: 8px 15px;

}

img{
    max-width: 100%;
    height: auto;
    
}

.boxes{
    display: flex;
    gap: 25px;
    justify-content: center;
    overflow: hidden;
}

.puggy{
    border:#1f2937;
    border-width: 3px;
    aspect-ratio: 3/4;
    width: 200px;
    border-style: solid;
}

.puggy img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}